body {
	margin: 0;
	padding: 0;
}

.body {
	background-color: #DCDCDC;
	position: absolute;
	font-family: 'Bree Serif', serif;
	height: 200%;
}





.top_info {
	height: 380px;
	width: 500px;
	border: solid black;
	margin-top: 60px;
	margin-left: 670px;
	padding: 0 1% 2% 2%;
}

.top_info_of_p {
	font-size: 2em;
}





.all_a:link {
	text-decoration: none;
	color: black;
}

.all_a:visited {
	text-decoration: none;
	color: black;
}

.all_a:active {
	text-decoration: none;
	color: black;
}





.button_under_top_info {
	height: 20px;
	width: 119px;
	border: solid black;
	margin-left: 870px;
	margin-top: 30px;
	text-align: center;
	padding: 0 1% 1% 1%;
}

.button_under_top_info_of_a {
	font-size: 1.5em;
	padding-bottom: 0;
}





.middle_div {
	height: 300px;
	width: 700px;
	border: solid black;
	margin-left: 580px;
	margin-top: 500px;
	text-align: center;
	padding: 2% 2% 2% 2%;
}